{%{% extends ".html" %}%}

<h1>Progress BAr</h1>


<div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      aria-label="Basic example"
      style="width: 0%"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <div class="download_msg" >
    <p>Please wait, Your Video will be downloaded automatically. Thanks! </p> 
    <span class="close-ico-btn"><i class="fa-solid fa-rectangle-xmark"></i></span>
 </div>

  <script>
    function loadProgress(){
        document.getElementsByClassName("progress")[0].style.display = "flex";
        setInterval(function(){
          if(parseInt(document.getElementsByClassName("progress-bar")[0].style.width.slice(0,-1)) < 75 ){
            document.getElementsByClassName("progress-bar")[0].style.width = (parseInt(document.getElementsByClassName("progress-bar")[0].style.width.substring(0,document.getElementsByClassName("progress-bar")[0].style.width.length - 1)) + 1)  + "%";
            console.log(document.getElementsByClassName("progress-bar")[0].style.width)
          }
        },100)
  </script>


  <link rel="stylesheet" href='{{url_for("static", filename="/style.css")}}'/>